<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/extrastyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <a href="" class="brand">Thyroid Detection</a>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">source code</a></li>
                <li><a href="">github</a></li>
            </ul>
        </nav>
    </header>
   
    <div class="container-fluid">
        <!-- <div class="jumbotron"> -->
            <form action={{url_for('predict')}} method="post">

                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="Age">Age</label>
                        <input type="number" class="form-control" name="Age" id="Age" placeholder="Enter Age..."
                            required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex</label>
                        <select class="custom-select" name="Sex" id="Sex" required>
                            <option selected disabled value="">Choose Gender..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="on_thyroxine">On Thyroxine</label>
                        <select class="custom-select" name="on_thyroxine" id="on_thyroxine" required>
                            <option selected disabled value="">on_thyroxine..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="query_on_thyroxine">Query On Thyroxine</label>
                        <select class="custom-select" name="query_on_thyroxine" id="query_on_thyroxine" required>
                            <option selected disabled value="">query on thyroxine..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="on_antithyroid_medication">On Antithyroid Medication</label>
                        <select class="custom-select" name="on_antithyroid_medication" id="on_antithyroid_medication" required>
                            <option selected disabled value="">on antithyroid medication..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="thyroid_surgery">Thyroid Surgery</label>
                        <select class="custom-select" name="thyroid_surgery" id="thyroid_surgery" required>
                            <option selected disabled value="">thyroid surgery..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="query_hypothyroid">Query Hypothyroid</label>
                        <select class="custom-select" name="query_hypothyroid" id="query_hypothyroid" required>
                            <option selected disabled value="">query hypothyroid..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Squery_hyperthyroidex">Query Hyperthyroid</label>
                        <select class="custom-select" name="query_hyperthyroid" id="query_hyperthyroid" required>
                            <option selected disabled value="">query yperthyroid..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="pregnant">Pregnant</label>
                        <select class="custom-select" name="pregnant" id="pregnant" required>
                            <option selected disabled value="">pregnant..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="sick">Sick</label>
                        <select class="custom-select" name="sick" id="sick" required>
                            <option selected disabled value="">sick..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="tumor">Tumor</label>
                        <select class="custom-select" name="tumor" id="tumor" required>
                            <option selected disabled value="">tumor..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="lithium">Lithium</label>
                        <select class="custom-select" name="lithium" id="lithium" required>
                            <option selected disabled value="">lithium..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="goitre">Goitre</label>
                        <select class="custom-select" name="goitre" id="goitre" required>
                            <option selected disabled value="">goitre..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="TSH">TSH</label>
                        <input type="number" class="form-control" name="TSH" id="TSH"
                            placeholder="Enter TSH..." required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="T3">T3</label>
                        <input type="number" class="form-control" name="T3" id="T3"
                            placeholder="Enter T3..." required>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="TT4">TT4</label>
                        <input type="number" class="form-control" name="TT4" id="TT4"
                            placeholder="Enter TT4..." required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="T4U">T4U</label>
                        <input type="number" class="form-control" name="T4U" id="T4U"
                            placeholder="Enter T4U..." required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="FTI">FTI</label>
                        <input type="number" class="form-control" name="FTI" id="FTI"
                            placeholder="Enter FTI..." required>
                    </div>
                </div>
                
                

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

        <!-- </div> -->
    </div>

    
    <!----------------footer End------------>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>