<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/extrastyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <a href="" class="brand">Thyroid Detection</a>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">source code</a></li>
                <li><a href="">github</a></li>
            </ul>
        </nav>
    </header>
   
    <div class="container-fluid">
        <!-- <div class="jumbotron"> -->
            <form action={{url_for('predict')}} method="post">

                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="Age">Age:</label>
                        <input type="number" class="form-control" name="Age" id="Age" placeholder="Enter Age..."
                            required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="Sex" id="Sex" required>
                            <option selected disabled value="">Choose Gender..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="on_thyroxine">On Thyroxine:</label>
                        <select class="custom-select" name="on_thyroxine" id="on_thyroxine" required>
                            <option selected disabled value="">on_thyroxine..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="query_on_thyroxine">Query OnThyroxine:</label>
                        <select class="custom-select" name="query_on_thyroxine" id="query_on_thyroxine" required>
                            <option selected disabled value="">query on thyroxine..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="on_antithyroid_medication">On Antithyroid Medication:</label>
                        <select class="custom-select" name="on_antithyroid_medication" id="on_antithyroid_medication" required>
                            <option selected disabled value="">on antithyroid medication..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="on_thyroxine" id="on_thyroxine" required>
                            <option selected disabled value="">on_thyroxine..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="on_thyroxine" id="on_thyroxine" required>
                            <option selected disabled value="">on_thyroxine..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="on_thyroxine" id="on_thyroxine" required>
                            <option selected disabled value="">on_thyroxine..</option>
                            <option value=1>True</option>
                            <option value=0>False</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="Sex" id="Sex" required>
                            <option selected disabled value="">Choose Gender..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="Sex" id="Sex" required>
                            <option selected disabled value="">Choose Gender..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="Sex" id="Sex" required>
                            <option selected disabled value="">Choose Gender..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="Sex" id="Sex" required>
                            <option selected disabled value="">Choose Gender..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="Sex">Sex:</label>
                        <select class="custom-select" name="Sex" id="Sex" required>
                            <option selected disabled value="">Choose Gender..</option>
                            <option value=1>Male</option>
                            <option value=0>Female</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Smoker">Smoker:</label>
                        <select class="custom-select" name="Smoker" id="Smoker" required>
                            <option selected disabled value="">Do you smoke??</option>
                            <option value=0>No</option>
                            <option value=1>Yes</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Region">Region:</label>
                        <select class="custom-select" name="Region" id="Region" required>
                            <option selected disabled value="">Choose Region..</option>
                            <option value=0>Southeast</option>
                            <option value=1>Southwest</option>
                            <option value=2>Northwest</option>
                            <option value=3>Northeast</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="Children">Children:</label>
                        <input type="number" class="form-control" name="Children" id="Children"
                            placeholder="Enter Children..." required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Smoker">Smoker:</label>
                        <select class="custom-select" name="Smoker" id="Smoker" required>
                            <option selected disabled value="">Do you smoke??</option>
                            <option value=0>No</option>
                            <option value=1>Yes</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Region">Region:</label>
                        <select class="custom-select" name="Region" id="Region" required>
                            <option selected disabled value="">Choose Region..</option>
                            <option value=0>Southeast</option>
                            <option value=1>Southwest</option>
                            <option value=2>Northwest</option>
                            <option value=3>Northeast</option>
                        </select>
                    <!-- </div> -->
                </div>
                
                

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

        <!-- </div> -->
    </div>

    
    <!----------------footer End------------>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>